#kbe_container {
    padding-top: 120px;
}

.kbe_categories{
  margin-left: 16%;
  margin-right: 16%;
  width: auto !important;
  height: 47vh;
}

#kbe_content{
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}

.comment-form-url{
  display: none;
}

.kbe_reply .comment-meta{
  width: auto !important;
}

.comment-notes{
  display: none;
}

#kbe_content .kbe_leftcol .kbe_reply label{
  display: none !important;
}

#comment, #author, .comment-form-email input{
  border: 1px #b5b1b1 solid !important;
  border-radius: 10px !important;
}

#kbe_content .kbe_leftcol .kbe_reply input[type=text]{
  margin-bottom: 0 !important;
}

#kbe_content .kbe_leftcol p{
  margin-bottom: 15px !important;
}

.form-submit input{
  background-color: #f2a038 !important;
  color: white !important;
  border-radius: 10px !important;
  padding: 7px;
}

#kbe_content .kbe_leftcol .kbe_reply input[type=email] {
  padding: 10px 10px;
}

#live-search{
  margin-left: 23%;
  margin-right: 22%;
}

#kbe_container .faq_title{
  margin-left: 23%;
  margin-right: 28%;
  border-bottom: 2px #e6e6e6 solid;
  padding-bottom: 10px;
}

/*.comment-list li{
  background-color: #e6e6e6;
}*/
