/****************************************
*
* ESTRUTURA SAC DIGITAL
* @versao 1.0
* @author Halane Gonzaga 2017
*
*****************************************/

* {
    width: auto;
    margin: auto;
}

html, body{
    height: 100%;
}

body {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
}

a, p, span, small, h1, h2, h3, h4, h5, h6, b, li {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #666;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h1 {
    /*font-size: 2.2em;*/
    font-weight: 700;
}

h2 {
    font-size: 1.9em;
    font-weight: 500;
}

h3 {
    font-size: 1.2em;
    font-weight: 300;
}

button {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.row {
    width: 100%;
    margin: 15px auto;
}

.mt10 {
    margin-top: 10px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mt30 {
    margin-top: 30px !important;
}

.pt10 {
    padding-top: 10px !important;
}

.pt20 {
    padding-top: 20px !important;
}

.pt30 {
    padding-top: 30px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mb30 {
    margin-bottom: 30px !important;
}

.mb40 {
    margin-bottom: 40px !important;
}

.text-center {
    text-align: center;
}

img {
    text-decoration: none;
    border: 0;
}

.show_table {
    display: none;
}

/*
2. Elementos do Content
 */
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#sac-top-header {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 99999 !important;
    -webkit-transform: translateZ(0);
}

#home {
    width: 100%;
    height:100vh;
    background: url("http://localhost/sacdigital/wp-content/uploads/2017/12/banner.jpg") no-repeat;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

#hidden-menu {
    display: none;
}

#sac-nav {
    margin: 30px auto;
    position: relative;
    z-index: 3;
}

#sac-nav-full {
    height: 60px;
}

#sac-top-nav {
    height: 30px;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.50);
    -moz-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.50);
    box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.50);
    background-color: #204a68;
    color: white;
    padding: 0;
    position: relative;
    z-index: 3;
}

.tab-content {
    height: 30px;
}

.tab-left {
    text-align: left;
    float: left;
}

.tab-right {
    width: 200px;
    float: right;
}

.sac-list-group-item, .sac-list-group-social {
    height: 20px;
    padding: 5px;
    font-size: 0.9em !important;
    text-align: center;
    color: white !important;
}

.sac-list-group-item a{
    color: white;
}

.sac-list-group-social a {
    color: white !important;
}

.sac-list-group-item {
    display: inline-block;
    margin-left: 10px;
}

.sac-list-group-social {
    float: left;
    width: 30px;
}

#sac-nav.white {
    margin: auto;
    width: 100%;
    background: white;
    /* border-bottom: 1px solid #fff; */
    box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.24);
}

#sac-logo {
    position: absolute;
    background: #fdfdfd;
    padding: 1.2em;
    top: -30px;
    box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.24);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 4;
}

#sac-logo a {
    width: 100%;
    height: 100%;
    display: block;
}

#sac-logo img {
    width: 100%;
    height: 100%;
}

#sac-menu {
    text-align: right;
}

#sac-menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#sac-menu ul li {
    display: inline-block;
    width: auto;
    text-align: center;
    height: 50px;
    margin-top: 5px;
}

#sac-menu ul li a {
    text-decoration: none;
    padding: 10px;
    width: 100%;
    height: 45px;
    float: left;
    cursor: pointer;
    color: rgba(0, 0, 0, .5);
    font-weight: 400;
    display: block;
}

/*#sac-menu ul li:nth-child(6){
    margin-right: 10px;
}*/

.bate-papo{
  background-color: #f2a038;
  color:white !important;
  border-radius: 15px;
}

#sac-top {
    margin-top: 25px;
    text-align: left;
    z-index: 4;
    position: relative;
    padding-left: 8em;
    padding-top: 23em;
}

#sac-top h1{
  color:white !important;
  font-size: 2.6em !important;
  margin-left: 10px;
}

#sac-top h2{
  color:white !important;
  font-size: 1.9em !important;
}

#sac-top h3{
  color:white !important;
  font-size: 1.35em !important;
  margin-left: 10px;
}

/*#sac-top p {
    font-size: 1.2em;
    font-weight: 300;
    color:white !important;
}*/

.test{
    display: none;
}

li.focus{
    display: none !important;
}

/*.test{
    margin-left: 42%;
    background: #204a68;
    color: #f2f1ef;
    padding: 5px;
    margin-top: 4px;
    width: 100px;
    float: left;
    border-radius: 7px;
    text-align: center;
    display: none;
}*/

.call-buttons {
    /*width: 330px;
    background: url(../img/obj/icon.png) no-repeat top left;*/
    /*padding: 0 50px;*/
    padding-top: 10px;
}

.call-buttons a {
    border: 0;
    padding: 10px 25px;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 5px;
    color: white;
    font-size: 17px;
    box-shadow: inset 1px 1px 7px 0px rgba(17, 22, 26, 0.2);
    display: inline-block;
}

.call-buttons a:hover {
    box-shadow: inset 1px 1px 7px 0px rgba(17, 22, 26, 0.7);
}

#sac-player {
    margin-top: 200px;
    width: 100px;
}

#sac-player i {
    font-size: 5em;
    color: #353535;
    text-shadow: 0px 1px 10px #565656;
}

#sac-player button {
    display: inline-block;
    font-weight: 300;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid #8a59af;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: all .2s ease-in-out;
    color: #fff;
    background-color: #8a59af;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    cursor: pointer;
}

#sac-player button:hover {
    background: #604773;
}

.sac-section {
    /*padding-top: 40px;*/
    width: 100%;
    z-index: 1;
    padding-bottom: 40px;
    height: 100vh;
}

.sac-section h1 {
    /*font-size: 1.8em;*/
    font-weight: 500;
    color: #595959;
}

.sac-section h3 {
    /*font-size: 1em;*/
    font-weight: 200;
    color: #595959;
}

.tab-itens {
    height: auto;
}

.tab-itens .tab {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    position: relative;
}

.tab.active {
    border-bottom: 2px solid #204a68;
}

.tab:first-child::before {
    width: 0px;
}

.tab::before {
    content: '';
    width: 1px;
    height: 80%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, transparent 0, rgba(0, 0, 0, .15) 35%, rgba(0, 0, 0, .15) 50%, rgba(0, 0, 0, .15) 65%, transparent 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
    background-repeat: no-repeat;
}

.tab.active i, .tab.active span {
    color: #204a68;
}

.tab i {
    font-size: 2em;
    display: inline;
    color: #5a5a5a
}

.tab span {
    display: block;
    color: #5a5a5a
}

.tab-show {
    padding: 30px 0;
}

.tab-slider {
    height: 350px;
    position: relative;
}

.app-slider {
    height: 400px;
    position: relative;
}

.tab-slider .tab-ctl-left, .tab-slider .tab-ctl-right, .app-ctl-left, .app-ctl-right {
    width: 23px;
    height: 53px;
    position: absolute;
    top: 150px;
    display: block;
    cursor: pointer;
}

.tab-slider .tab-ctl-left, .app-ctl-left {
    background: url("../img/slider/arrow-left.png") no-repeat left center;
    left: 0;
}

.tab-slider .tab-ctl-right, .app-ctl-right {
    background: url("../img/slider/arrow-right.png") no-repeat left center;
    right: 0;
}

.tab-item {
    display: none;
}

.tab-item.active {
    display: block;
}

.tab-item .image {
    text-align: center;
    float: left;
}

.tab-item .image img {
    width: 100%;
    box-shadow: 0 0 11px 3px #d4d4d4;
}

.tab-item .info {
    float: left;
}

.tab-item .info h1 {
    color: #204a68;
    font-weight: 700;
    margin-bottom: 10px;
}

.tab-item .info ul li span {
    padding: 3px 6px;
    border-radius: 100%;
    background: white;
    color: white;
    font-size: 11px;
    border: 1px solid;
}

.tab-item .info a {
    font-size: 14px;
    display: inline-block;
    background: #204a68;
    color: white;
    float: right;
    border-radius: 7px;
}

#tab-1 .info ul li span {
    border-color: #e83c3f;
    color: #e83c3f;
}

#tab-2 .info ul li span {
    border-color: #750bb1;
    color: #750bb1;
}

#tab-3 .info ul li span {
    border-color: #000;
    color: #000;
}

#tab-4 .info ul li span {
    border-color: #f56827;
    color: #e83c3f;
}

#tab-5 .info ul li span {
    border-color: #b73593;
    color: #b73593;
}

#tab-6 .info ul li span {
    border-color: #1d9e82;
    color: #1d9e82;
}

.tab-item .info ul {
    list-style-type: none;
    padding-left: 20px;
}

.tab-item .info ul li {
    font-size: 14px;
    margin-bottom: 5px;
}

.sac-fix {
    width: 100%;
    height: 100vw;
    background: #204a68;
}

.sac-fix h1{
  color:white;
}

.sac-fix .container {
    padding: 35px 0;
}

.sac-fix span {
    color: #efefef;
    font-size: 20px;
}

.sac-fix a {
    background: #f2a038;
    border: none;
    color: #204a68;
    margin-left: 20px;
    padding: 5px 15px;
    border-radius: 7px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
}

.sac-vantagens {
    min-height: 500px;
    background: url("http://localhost/sacdigital/wp-content/uploads/2017/12/bg_vantagens.jpg") repeat-x;
    background-size: cover;
}

#tablet{
  margin-top: 50px;
  margin-left: 20px;
}

.v-box {
  display:flex;
    /*background: url("../img/painel.png") no-repeat right bottom;
    background-size: auto 100%;*/
}

.v-box img{
  margin-bottom:0px;
}

.v-info {
    width: 100%;
    /*height: 440px;*/
    display: inline-block;
    font-size: 1.2em;
    padding-top: 3em !important;
    text-align: center;
}

.v-info a {
    background: #f2a038;
    color: white;
    border: 0;
    padding: 10px 20px;
    border-radius: 7px;
    margin-top: 20px;
    display: inline-block;
    font-size: x-large;
}

.v-list {
    display: block;
    padding: 10px 0;
}

.v-list i{
  font-size:1.5em;
}

.d-group {
    width: 100%;
    height: 420px;
    margin-top: 40px !important;
}

.d-list {
    float: left;
    text-align: center;
}

.show_more {
    background: #f2a038;
    color: white;
    border: 0;
    padding: 10px 20px;
    border-radius: 7px;
    margin-top: 30px;
    display: inline-block;
    margin-top: 60px;
    font-size:x-large;
}

.d-icon {
    background: #ededed;
    width: 220px;
    height: 220px;
    border-radius: 100%;
}

.d-icon i {
    font-size: 6em;
      /* padding: 40px; */
    margin: 67px;
    float: left;
    color: #595959;
}

.d-title {
    color: #909090;
    font-weight: bold;
    margin: 20px 0 0 0;
    font-size: 1.5em;
}

.d-info {
    font-size: 14px;
    color: #595959;
    padding: 10px;
    font-size: 1em;
}

#apps {
    background: #e6e6e6;
    min-height: 550px;
    margin-top: -20px;
    /*height:100vh;*/
}

.app-item {
    width: 720px;
    height: 100%;
    margin-top: 30px;
    display: none;
}

.app-item.active {
    display: block;
}

.app-item-image {
    text-align: center;
    display: inline-block;
    width: 350px;
    padding: 25px;
    float: left;
}

.app-item-info {
  width: 550px;
  float: right;
  margin-top: 230px;
  margin-right: 15%;
}

.app-item-info p{
  height: 50px;
}

.app-item-info h1 {
    color: #204a68;
    /*font-size: 1.5em;*/
    font-weight: bold;
    margin-bottom: 20px;
}

.app-item-info a {
    width: auto;
    margin-top: 20px;
    float: left;
}

.list-tecs {
  margin-top: 40px;
  margin-bottom: 40px;
}

.list-tecs a {
    width: auto;
    height: 83px;
    display: inline-block;
    cursor: pointer;
}

.list-tecs a:hover img {
    filter: grayscale(0%);
}

.list-tecs img {
    filter: grayscale(100%);
    height: 100%;
}

#suporte {
    width: 100%;
    height: 80%;
    background: url("http://localhost/sacdigital/wp-content/uploads/2017/12/bg-contatos.png") center center;
    background-size: cover;
    overflow: hidden;
    background-color:#204a68;
    /*margin-bottom: -15px !important;*/
}

#suporte .container {
    height: 100%;
    padding: 150px 15px;
}

.s-left h1, .s-right h1 {
    color: #efefef;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.s-left p, .s-right p {
    color: #efefef;
    font-size: 14px;
}

.s-info, .s-buttons {
    display: block;
}

.s-left {
    width: 500px;
    float: left;
}

.s-buttons {
    width: 100%;
    float: left;
}

.s-buttons .phone, .s-buttons .skype{
  width: 49%;
}

.s-buttons .email{
  width:99%;
}

.s-left a {
    background: rgba(0, 28, 53, 0.73);
    border: 0;
    padding: 10px;
    margin-top: 15px;
    color: white;
    font-size: 18px;
    font-weight: 100;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
    text-align:center;
}

.s-right {
    float: right;
}

.s-right a {
    background: #f2a038;
    color: white;
    border: 0;
    padding: 8px 20px;
    font-weight: 100;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 15px;
    cursor: pointer;
    float: left;
    display: inline-block;
}

#rodape {
    background: #e6e6e6;
}

#rodape .container {
    height: 100%;
}

.r-form {
    float: left;
}

.r-phone-icon {
    font-size: 3em;
    color: #0b476b;
    width: 50px;
    height: 50px;
    float: left;
}

.r-phone-icon i {
    float: left;
}

.r-suport {
    float: left;
}

.r-suport h1 {
    color: #646464;
    font-size: 18px;
}

.r-suport p {
    display: block;
    font-size: 1em;
}

.r-suport span {
    float: right;
    font-weight: bold;
}

/*#rodape form {
    width: 100%;
    float: left;
    margin-top: 15px;
    overflow: hidden;
}*/

#mail{
  width:100%;
}

#mail br{
  display:none;
}

#mail span {
    display: block;
    margin-bottom:12px;
}

#mail input {
    border-radius: 7px;
    border: 1px solid #cecbcb;
    font-size: 14px;
    color: #8a8a8a;
    padding: 10px;
    width: 318px;
}

#mail textarea {
    border: 1px solid #cecbcb;
    border-radius: 7px;
    font-size: 14px;
    color: #8a8a8a;
    padding: 10px;
}

.wpcf7-submit {
    background: #f2a038;
    color: white !important;
    border: 0;
    cursor: pointer;
    width:100%;
    border:none !important;
}

.r-rodape {
    overflow: hidden;
    float: left;
}

.pull-fix {
    width: 100%;
    float: left;
    color: #595959;
    margin-top: 10px
}

.r-box {
    float: left;
    padding: 5px;
    height: 110px;
}

.r-box p, .menu-rodape p, .social-rodape p {
    color: #646464;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
    text-decoration:underline;
}

.r-box ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.r-box ul li {
    font-size: 14px;
    line-height: 28px;
}

.menu-rodape, .social-rodape {
    width: 100%;
    float: left;
}

.menu-rodape ul, .social-rodape ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.menu-rodape ul li, .social-rodape ul li {
    display: inline-block;
}

.social-rodape ul li {
    width: 45px;
    height: 45px;
    background: white;
    border-radius: 100%;
}

.social-rodape ul li a {
    font-size: 23px;
    padding: 4px 0;
    width: 100%;
    /* height: 100%; */
    text-align: center;
    display: block;
}

.social-rodape li:hover a {
    color: white;
}

.li-facebook:hover {
    background: #3c5a98;
}

.li-google-plus:hover {
    background: #db4437;
}

.li-twitter:hover {
    background: #1FA1F2;
}

.li-youtube:hover {
    background: #db4437;
}

.li-android:hover {
    background: #77c159;
}

.li-whatsapp:hover, a.button-wpp {
    background: #1ebea5;
}

.li-telegram:hover, a.button-tg {
    background: #5682a3;
}

#colophon{
  background-color:#e6e6e6;
}

.site-info{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align:center;
    padding-bottom: 20px;
    color:#595959;
}

/*.sac-vantagens{
  height:100vh;
}*/

/*#diferenciais{
  height:100vh;
}*/

.hd{
    padding-top: 60px;
    padding-bottom: 60px;
}

.d-icon:hover{
  background:#204a68;
}

.d-icon:hover i{
  color:white;
}

#phone_mockup{
  z-index: 3;
  position: absolute;
  margin-left: 40%;
}

.marvel-device{
  left: 25%;
  margin-top: 1%;
  box-shadow: -12px 12px 60px;
  width: 320px !important;
  height: 548px !important;
}

#interaction{
  background: #204a68;
  width:100%;
}

#interaction h1, #interaction h2{
  color:white;
}

#wp_container{
    margin-top:15em;
}

#wp_container h3{
  color:white !important;
}

#whatsapp{
  margin-left: 3em;
  width: 28em;
  background: #25D366;
  color: white;
  border: 0;
  padding: 10px 20px;
  border-radius: 7px;
  margin-top: 20px;
  display:inline-flex;
  text-decoration:none;
}

#whatsapp h2{
  color:white !important;
  margin-top: 10px;
  margin-left: 10px;
}

#whatsapp:hover{
  text-decoration:none;
}

#whatsapp:target{
  text-decoration:none;
}

#whatsapp:active{
  text-decoration:none;
}

#whatsapp i{
  margin-right: 0;
}

.iphone5s{
  margin-left:20% !important;
}

.iphone5s .screen{
  background: url("http://localhost/sacdigital/wp-content/uploads/2017/11/chat-leve.gif") !important;
  background-repeat: no-repeat;
  background-size: cover !important;
}

.scx-header{
  display:none !important;
}

#scx-widget .scx-popup.scx-active._scx-open {
  margin-right: 11em !important;
  margin-top: 7em !important;
}

.scx-lead p{
  text-align: center !important;
}

#itemsV{
  /*width:90%;*/
  text-align:center;
}

#itemsV i{
  font-size: 3em;
}

.wpcf7-response-output{
  margin-left: 30% !important;
  margin-right: 30% !important;
  border: 2px solid #f2a038 !important;
  background-color: #f2a038 !important;
  color: white !important;
}

/*==========  Media Queries  ==========*/

/*@media only screen and (min-width: 480px) and (max-width: 767px) and (orientation: landscape){
    li.focus{
        width: 100% !important;
    }

    #sac-menu ul li:nth-child(5),#sac-menu ul li:nth-child(6){
        display: none;
    }

    #sac-menu ul li{
        width: 100% !important;
    }

    #sac-menu ul li a {
        font-size: 1em !important;
        width: 92% !important;
        display: block;
        margin-bottom: 10px !important;
        padding: 5px 4% !important;
    }
}*/

@media
only screen and (max-width: 479px) and (orientation: portrait),
(min-width: 480px) and (max-width: 767px) and (orientation: landscape),
(min-width: 480px) and (max-width: 767px) and (orientation: portrait) {
    body {
        font-size: 12px;
    }

    #sac-menu ul li:nth-child(6){
        margin-right: auto;
    }

    h1, .sac-section h1 {
        font-size: 2.1em;
    }

    #sac-menu ul li a.active {
        color: #204a68;
    }

    .test{
        display: none;
    }

    .row{
        margin: 35px auto;
    }

    .sac-section h3 {
        font-size: 1.4em;
    }

    #sac-top p {
        font-size: 1.5em;
    }

    #sac-top-nav {
        display: none;
        height: 30px;
    }

    .hide_xs {
        display: none;
    }

    .show_table{
        display: block;
    }

    .sac-section {
        padding-top: 55px;
        height: 110vh;
    }

    .call-buttons {
        width: 100%;
        background: none;
        padding: 0;
        margin-top: 0px;
    }

    .call-buttons a {
        padding: 10px 15px;
        font-size: 1.2em;
    }

    .tab-left {
        margin-left: 100px;
    }

    .tab-right {
        width: 85px;
    }

    .sac-list-group-item, .sac-list-group-social {
        font-size: 1em;
        padding: 3px 6px;
        margin-top: 4px;
    }

    .sac-list-group-item {
        margin-left: 5px;
    }

    #sac-logo {
        text-align: center;
        padding: 10px;
        left: 10px;
        width: 70px !important;
        height: 70px !important;
        box-shadow: none;
        border-bottom: 2px solid gainsboro;
        border-right: 1px solid gainsboro;
        border-left: 1px solid gainsboro;
        top: 0
    }

    #sac-logo img {
        width: 70px;
        height: 70px;
    }

    #sac-nav.white {
        height: 35px;
    }

    .tab-slider {
        height: auto;
    }

    .tab span {
        font-size: 0.8em;
    }

    .container {
        padding-right: 0;
        padding-left: 0;
    }

    .container, #sac-box {
        width: 98%;
        overflow: hidden;
    }

    .tab-itens span {
        display: none;
    }

    #sac-nav.white {
        margin: auto;
        width: 100%;
        background: white;
        border-bottom: 2px solid #e7e6ea;
        box-shadow: none;
    }

    #sac-nav-full {
        height: 40px;
    }

    #hidden-menu {
        display: block;
        text-align: center;
        cursor: pointer;
        width: 40px;
        height: 40px;
        float: right;
        z-index: 4;
    }

    #hidden-menu a {
        font-size: 1.6em;
        width: 30px;
        /* height: 40px; */
        display: block;
        margin-right: 20px;
        margin-top: 0px;
        font-weight: bold;
        border: 1px solid #204a68;
        padding: 3px;
        text-align: center;
        border-radius: 7px;
        color: white;
        background: #204a68;
    }

    #sac-menu {
        display: none;
        background: #ffffff;
        position: fixed;
        height: auto;
        top: 56px;
        padding: 0;
        width: 100%;
        left: 0;
        border-bottom: 1px solid #e7e6ea;
    }

    #sac-menu ul {
        padding: 0;
        margin-top: 40px;
    }

    #sac-menu ul li {
        display: block;
        width: 90%;
        text-align: center;
        height: auto;
        margin-top: 0;
    }

    #sac-menu ul li a {
        font-size: 1.2em;
        text-transform: uppercase;
        text-align: left;
        text-decoration: none;
        padding: 10px 1%;
        width: 98%;
        height: auto;
        float: none;
        cursor: pointer;
        color: rgba(0, 0, 0, .5);
        font-weight: 200;
        display: block;
        margin-bottom: 10px;
    }

    #sac-menu ul li a.active{
        font-weight: 400;
    }

    li.focus{
        display: block !important;
        width: 100% !important;
        background: #f2a038 !important;
        color: white !important;
    }

    li.focus a{
        color: white !important;
    }

    #sac-nav.white {
        padding: 10px 0;
    }

    #sac-box {
        padding-top: 80px;
    }

    #plataforma .hd {
        width: 95%;
    }

    #sac-logo {
        width: 90px;
        height: 90px;
    }

    #home {
        height: 100vh;
    }

    .tab-itens {
        padding: 0;
    }

    .tab-itens .tab {
        height: 40px;
        width: 14%;
        padding: 1%;
    }

    .tab-slider .tab-ctl-left, .tab-slider .tab-ctl-right {
        display: none;
    }

    .tab-slider .tab-ctl-left, .app-ctl-left {
        left: 10px;
    }

    .tab-slider .tab-ctl-right, .app-ctl-right {
        right: 10px;
    }

    .tab-item {
        width: 100%;
        height: 100%;
        margin-top: 20px;
    }

    .tab-item .image {
        width: 100%;
        float: none;
        display: block;
        margin-left: 0px;
    }

    .tab-item .image img {
        width: 92%;
    }

    .list-tecs img {
        filter: grayscale(0%)
    }

    .tab-item .info {
        width: 94%;
        margin-left: 4%;
        margin-top: 10px;
        float: none;
        display: block;
    }

    .tab-item .info ul {
        padding-left: 0;
    }

    .tab-item .info h1 {
        font-size: 2em;
    }

    .tab-item .info p {
        font-size: 1.2em;
        margin-bottom: 14px;
    }

    .tab-item .info a {
        font-size: 1.2em;
        padding: 5px 10px;
        margin-top: 10px;
    }

    .tab-item .info ul li {
        font-size: 1.2em;
    }

    .sac-fix .container {
        padding: 20px 0;
    }

    .sac-fix span {
        font-size: 1.2em;
        margin-bottom: 10px;
        display: block;
        text-align: center;
    }

    .sac-fix a {
        display: block;
        text-align: center;
        margin-left: auto;
        width: 50%;
    }

    .sac-vantagens {
        padding-top: 30px;
    }


    .v-box {
        background: none !important;
        height: auto;
        margin-top: 0px !important;
        background-size: auto 430px;
        background-position-x: 330px;
    }

    .v-info {
        width: 90%;
        margin-left: 5%;
    }

    .v-list {
        font-size: 1.2em;
        text-align: left;
        width: 100%;
    }

    .v-info a {
        padding: 5px 15px;
        margin-top: 10px;
    }

    .d-group {
        display: block;
        height: auto;
    }

    .d-list {
        width: 100%;
        padding: 4%;
        height: 220px;
        margin-left: 0;
    }

    .d-icon {
        width: 90px;
        height: 90px;
    }

    .d-icon i {
        font-size: 2.2em;
        margin: 32px;
    }

    .d-title {
        font-size: 1.5em;
    }

    .d-info {
        font-size: 1.3em;
    }

    .show_more{
        font-size: 1.1em;
    }

    .app-slider {
        height: auto;
    }

    .app-item {
        width: 80%;
    }

    .app-item-image {
        width: 100%;
        display: block;
        padding: 0;
        margin-bottom: 0;
        float: none;
    }

    .app-item-image img {
        width: 200px;
    }

    .app-item-info h1 {
        margin-bottom: 10px;
    }

    .app-item-info a {
        float: none;
        margin: 34px auto;
        height: 40px;
        display: block;
    }

    .app-item-info {
        width: 98%;
        display: block;
        float: none;
        margin-top: 0;
        text-align: center;
        padding-top: 2em;
    }

    .app-item-info p {
        font-size: 1.2em;
    }

    .list-tecs {
        width: 100%;
        margin-top: 50px;
        text-align: center;
    }

    .list-tecs a {
        height: 90px;
    }

    #suporte {
        height: auto;
    }

    #suporte .container {
        padding: 20px 0;
        height: auto;
    }

    .s-left p, .s-right p {
        font-size: 1em;
    }

    .s-left a {
        padding: 2%;
        font-size: 1.2em;
        display: block;
        width: 90%;
        margin: 10px 3%;
    }

    .r-form {
        width: 96%;
        margin-top: 2%;
        margin-left: 2%;
        display: none;
    }

    .r-suport,.r-phone-icon{
        display: none !important;
    }

    #rodape input ,#rodape textarea, #rodape button{
        width: 90% !important;
        padding: 4.6%;
    }

    #rodape button{
        width: 99% !important;
    }

    .r-suport {
        margin-left: 0px;
        height: 50px;
        width: 350px;
    }

    .r-suport p {
        font-size: 0.9em;
    }

    #rodape {
        height: auto;
    }

    #rodape input {
        width: 378px;
    }

    #rodape textarea {
        height: 40px;
        width: 378px;
    }

    #rodape button {
        width: 400px;
        padding: 5px 15px;
        font-size: 14px;
        border-radius: 5px;
    }

    .s-left {
        text-align: center;
        float: none;
        width: auto;
    }

    .r-rodape {
        width: 98%;
        text-align: left;
        float: none;
        display: block;
    }

    .pull-fix {
        float: none;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .r-box {
        width: 80%;
        margin-left:10%;
        margin-bottom: 20px;
        margin-top: 20px;
        display: none;
    }

    .r-box:nth-child(3){
        display: none;
    }

    .menu-rodape, .social-rodape {
        margin-top: 25px;
    }

    .menu-rodape ul li, .social-rodape ul li {
        margin-left: 20px;
    }

    .r-box p, .menu-rodape p, .social-rodape p {
        font-size: 1.3em;
    }

    .r-box ul li {
        font-size: 1.2em;
        line-height: 2.1em;
    }

    .social-rodape{
        text-align: center;
        width: 100%;
        margin-left: 0;
    }

    .social-rodape ul li {
        width: 35px;
        height: 35px;
        background: white;
        border-radius: 100%;
        margin-bottom: 10px;
        margin-left: 6px;
    }

    .social-rodape ul li a {
        font-size: 14px;
    }

    #contato{
        background: #e6e6e6;
    }

    #sac-top{
      padding-left: 6em !important;
      padding-top: 28em !important;
    }

    .arrow{
      display:none;
    }

    .iphone5s {
        margin-left: 0% !important;
    }

    .hd{
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }

    .tab-itens{
      text-align: center;
    }

    .iphone5s{
      left: 4%;
    }

    .speech-wrapper .bubble{
      margin: 0 -27px 25px !important;
    }

    .speech-wrapper .bubble.alt{
      margin: 0 0 25px -5px !important;
    }

    #interaction{
      height: 195vh !important;
    }

    #vantagens{
      height: 222vh
    }

    .v-info{
      padding-top: 0 !important;
    }

    #diferenciais{
      height: 143vh !important;
    }

    .csslider > .arrows{
      left: -32px !important;
      width: 100% !important;
    }

    .marvel-device {
        left: 8%;
        margin-top: 1%;
        box-shadow: -12px 12px 60px;
        width: 307px !important;
        height: 548px !important;
    }

    .s-buttons a{
      width: 99% !important;
      margin: 10px 0% !important;
    }

    .wpcf7{
      margin-top: 16em !important;
      margin-left: 2.7em !important;
    }

    #contato{
      height: 98vh !important;
    }

    .navbar-toggle{
      display: none !important;
    }

    #masthead{
      position: absolute;
    }

    #sac-menu{
      top: 34px;
      z-index: -1;
    }

    .bPH{
      background-color: #f2a038 !important;
      width: 100% !important;
    }

    #scx-widget .scx-popup.scx-active._scx-open {
        margin-top: 34em !important;
        margin-right: 0em !important;
    }

}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) and (max-width: 989px) {

  #scx-widget .scx-popup.scx-active._scx-open {
      margin-right: -7em !important;
      margin-top: 7em !important;
  }

    #plataforma{
      height: 119vh;
    }

    #interaction{
      height: 200vh;
    }

    .speech-wrapper{
      margin-left: 8em;
    }

    #whatsapp {
      margin-left: 12em;
      width: 21em;
    }

    #vantagens{
      height: 155vh;
    }

    #diferenciais{
      height: 143vh;
    }

    #apps{
      height: 136vh;
    }

    #contato{
      height: 138vh;
    }

    .wpcf7{
      margin-top: 16em !important;
      margin-left: 12em !important;
    }

    .mas-info{
      margin-left: 9em !important;
    }

    #suporte .container {
        height: 100%;
        padding: 50px 15px !important;
    }

    .automacao{
      margin-left: -10em;
    }

    .footer1{
      text-align: center;
    }

    .social-rodape{
      display:inline-flex;
      margin-bottom: 25px;
    }

    .social-rodape p{
      margin-left: 4em;
      margin-top: 12px;
    }

    .v-info{
      padding-top: 0 !important;
    }

    .hide_tablet {
        display: none;
    }

    .show_table {
        display: block;
    }

    body {
        font-size: 16px;
    }

    #sac-logo {
        left: 10px;
    }

    .tab-slider {
        height: auto;
    }

    .tab span {
        font-size: 0.8em;
    }

    .container {
        padding-right: 0;
        padding-left: 0;
    }

    .container, #sac-box {
        width: 768px;
    }

    #sac-menu ul {
        padding: 0 15px;
    }

    #sac-nav.white {
        padding: 5px 0;
    }

    #sac-box {
        padding-top: 120px;
    }

    #plataforma .hd {
        width: 700px;
    }

    #sac-logo {
        width: 90px;
        height: 90px;
    }

    /*#home {
        background-size: auto 600px;
    }*/

    #sac-top{
      padding-left: 5em;
      padding-top: 19em;
    }

    #sac-top h1{
      font-size: 1.8em !important;
    }

    #sac-top h3{
      font-size: 1em !important;
    }

    #sac-menu ul li a.faq{
        color: #ffffff;
        background: #f2a038;
        padding: 10px 0px;
        margin-left: 20px;
        border-radius: 10px;
        height: 25px;
    }

    .tab-itens {
        padding: 0;
        text-align:center;
    }

    .tab-itens .tab {
        height: 60px;
        width: 96px;
        margin-left: 14px;
    }

    .tab-slider .tab-ctl-left, .tab-slider .tab-ctl-right {
        display: none;
    }

    .tab-slider .tab-ctl-left, .app-ctl-left {
        left: 30px;
    }

    .tab-slider .tab-ctl-right, .app-ctl-right {
        right: 30px;
    }

    .tab-item {
        width: 720px;
        height: 100%;
        margin-top: 20px;
    }

    .tab-item .image {
        width: 720px;
        float: none;
        display: block;
        margin-left: 5px;
    }

    .tab-item .image img {
        width: 700px;
    }

    .list-tecs img {
        filter: grayscale(0%)
    }

    .tab-item .info {
        width: 720px;
        margin-left: 10px;
        margin-top: 5px;
        float: none;
        display: block;
    }

    .tab-item .info h1 {
        font-size: 20px;
    }

    .tab-item .info p {
        font-size: 13px;
        margin-bottom: 14px;
    }

    .tab-item .info a {
        font-size: 13px;
        padding: 5px 10px;
        margin-top: 10px;
    }

    .sac-vantagens {
        padding-top: 30px;
    }

    .v-box {
        height: 440px;
        margin-top: 50px;
        background-size: auto 430px;
        background-position-x: 330px;
    }

    .v-list {
        font-size: 0.9em;
    }

    .v-info a {
        padding: 5px 15px;
        margin-top: 10px;
    }

    .d-group {
        display: block;
        height: auto;margin-top: 0 !important;
    }

    .d-list {
        width: 338px;
        padding: 20px;
        height: 406px;
        margin-left: 24px;
    }

    .app-item {
        width: 650px;
    }

    .app-item-image {
        padding: 25px 0;
    }

    .list-tecs {
        width: 700px;
        text-align: center;
    }

    .list-tecs a {
        height: 80px;
    }

    .marvel-device {
      left: 26%;
      width: 308px !important;
      height: 547px !important;
    }

    .iphone5s{
      left: 5% !important;
    }

    .app-item-info {
      margin-top: 100px;
      margin-right: 9%;
    }

    .app-item-info p{
      height: 75px;
    }

    .r-form {
        width: 400px;
        margin-top: 20px;
    }

    .r-suport {
        margin-left: 0px;
        height: 50px;
        width: 350px;
    }

    .r-suport p {
        font-size: 0.9em;
    }

    #rodape {
        height: 390px;
    }

    #rodape input {
        width: 378px;
    }

    #rodape textarea {
        height: 40px;
        width: 378px;
    }

    #rodape button {
        width: 400px;
        padding: 5px 15px;
        font-size: 14px;
        border-radius: 5px;
    }

    .s-left {
        text-align: center;
        float: none;
        width: auto;
    }

    .r-rodape {
        width: 740px;
        margin-left: 20px;
        margin-top: 20px;
        max-height: 310px;
        text-align: center;
    }

    .r-box {
        width: 230px;
    }

    .menu-rodape, .social-rodape {
        margin-top: 25px;
    }

    .menu-rodape ul li, .social-rodape ul li {
        margin-left: 20px;
    }

    .tab-left {
        margin-left: 140px;
    }

}

@media only screen and (min-width: 780px) and (max-width: 1024px) {

  #scx-widget .scx-popup.scx-active._scx-open {
    margin-right: 5.8em !important;
    margin-top: 7em !important;
  }

  .tab-itens{
    text-align:center;
  }

  .tab-itens .tab{
    padding: 0 !important;
  }

  .iphone5s {
    margin-left: 0% !important;
    left: 30% !important;
  }

  .marvel-device {
      left: 8%;
      margin-top: 1%;
      box-shadow: -12px 12px 60px;
      width: 236px !important;
      height: 419px !important;
  }

  .app-item-info {
      width: 550px;
      float: right;
      margin-top: 12em !important;
      margin-right: 3% !important;
  }

  .speech-wrapper .bubble {
      width: 300px !important;
    }

  .speech-wrapper .bubble .txt .name{
    font-size: 15px !important;
  }

  .speech-wrapper .bubble .txt .message{
    font-size:13px !important;
  }

  .speech-wrapper .bubble .txt .timestamp{
    font-size:12px !important;
  }

  #whatsapp{
    margin-left: 4em !important;
    width: 19em !important;
  }

  .d-list {
    width: 16.7em !important;
  }

  .list-tecs a {
      height: 65px;
  }

  .list-tecs{
    text-align:center;
  }

  #suporte .container {
      height: 100%;
      padding: 100px 15px;
  }

  .wpcf7{
    float:right;
  }

  .footer-pad{
    display:none;
  }

  .footer1{
    width: 100% !important;
    text-align: center;
  }

  .r-box {
    width: 21em !important;
  }

  .footer2{
    width: 100% !important;
  }

  .menu-rodape{
    text-align:center;
  }

  .social-rodape{
    display: inline-flex;
    margin-bottom: 1em;
  }

  .social-rodape p{
    padding-top: 10px;
    margin-left: 17em;
  }

}

/* Medium Devices, Desktops */

@media only screen and (min-width: 990px) {
    body {
        font-size: 15px;
    }


    #sac-menu ul li a.faq{
        color: #ffffff;
        background: #f2a038;
        padding: 10px 0px;
        margin-left: 20px;
        border-radius: 10px;
        height: 45px;
    }

    .tab-slider {
        height: 350px;
        padding-top:30px;
    }

    .tab span {
        font-size: 1em;
    }

    /*.container, #sac-box {
        width: 960px;
    }*/

    #sac-nav.white {
        padding: 5px 0;
    }

    #sac-box {
        padding-top: 100px;
    }

    #plataforma .hd {
        width: 600px;
    }

    #sac-logo {
        width: 90px;
        height: 90px;
    }

    #home {
        /*background-size: auto 650px;*/
    }

    .tab-itens {
        padding: 0 10px 0 20px;
    }

    .tab-itens .tab {
        height: 64px;
        width: 130px;
        padding: 10px;
    }

    .tab-slider .tab-ctl-left, .tab-slider .tab-ctl-right {
        display: none;
    }

    .tab-slider .tab-ctl-left, .app-ctl-left {
        left: 30px;
    }

    .tab-slider .tab-ctl-right, .app-ctl-right {
        right: 30px;
    }

    .tab-item {
        width: 920px;
        height: 100%;
        margin-top: 20px;
    }

    .tab-item .image {
        width: 550px;
    }

    .tab-item .image img {
        width: 100%;
    }

    .tab-item .info {
        width: 350px;
        margin-left: 20px;
    }

    .tab-item .info h1 {
        font-size: 20px;
    }

    .tab-item .info p {
        font-size: 13px;
        margin-bottom: 14px;
    }

    .tab-item .info a {
        font-size: 13px;
        padding: 5px 10px;
        margin-top: 10px;
    }

    .sac-vantagens {
        padding-top: 1px;
    }

    .v-box {
        height: 440px;
        margin-top: 50px;
        background-size: auto 100%;
        background-position-x: 310px;
    }

    .v-list {
        font-size: 0.9em;
    }

    .v-info a {
        padding: 5px 15px;
        margin-top: 10px;
    }

    .d-list {
        width: 220px;
        padding: 10px;
        /*height: 220px;*/
    }

    .list-tecs a {
        height: 67px;
    }

    .r-form {
        width: 400px;
        margin-top: 20px;
    }

    .r-suport {
        margin-left: 0px;
        height: 50px;
        width: 350px;
    }

    .r-suport p {
        font-size: 0.9em;
    }

    #rodape {
        height: 390px;
    }

    #rodape input {
        width: 378px;
    }

    #rodape textarea {
        height: 40px;
        width: 378px;
    }

    #rodape button {
        width: 400px;
        padding: 5px 15px;
        font-size: 14px;
        border-radius: 5px;
    }

    .r-rodape {
        width: 530px;
        margin-left: 20px;
        margin-top: 20px;
        max-height: 310px;
    }

    .r-box {
        width: 166px;
    }

    .menu-rodape, .social-rodape {
        margin-top: 15px;
    }

    .menu-rodape ul li, .social-rodape ul li {
        margin-left: 20px;
    }

    .tab-left {
        margin-left: 140px;
    }
}

/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) and (max-width: 1440px){

    #content{
      margin-top: 50px;
    }

    .container, #sac-box {
        width: 1170px;
    }

    #sac-nav.white {
        padding: 5px 0;
    }

    #sac-box {
        padding-top: 100px;
    }

    #plataforma .hd {
      width: 1025px;
    }

    #sac-logo {
        width: 140px;
        height: 140px;
    }

    #home {
        margin-top: 50px;
    }

    .tab-itens {
        text-align: center;
    }

    .tab-itens .tab {
        height: 100px;
        width: 172px;
        padding: 15px;
    }

    .tab-slider .tab-ctl-left, .tab-slider .tab-ctl-right, .app-ctl-left, .app-ctl-right {
        display: block;
    }

    .tab-slider .tab-ctl-left, .app-ctl-left {
        left: 12px;
        top: 198px;
    }

    .tab-slider .tab-ctl-right, .app-ctl-right {
      right: 12px;
      top: 198px;
    }

    .tab-item {
        width: 1080px;
        height: 100%;
        margin-top: 30px;
    }

    .tab-item .image {
        width: 650px;
    }

    .tab-item .info {
        width: 400px;
        margin-left: 30px;
    }

    .tab-item .info h1 {
        font-size: 22px;
    }

    .tab-item .info p {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .tab-item .info a {
        font-size: 14px;
        padding: 10px 20px;
        margin-top: 20px;
    }

    .marvel-device {
        width: 241px !important;
        height: 428px !important;
        left: 25% !important;
    }

    .app-item-info {
      margin-top: 10% !important;
      margin-right: 9% !important;
    }

    .speech-wrapper .bubble .txt .name {
      font-size: 15px !important;
    }

    .speech-wrapper .bubble .txt .message{
      font-size: 14px !important;
    }

    #whatsapp{
      margin-top: 0 !important;
    }

    .d-group{
      margin-top:0 !important;
    }

    .list-tecs{
      text-align:center;
    }

    /*.sac-vantagens {
        padding-top: 50px;
    }*/

    .v-box {
        height: 440px;
        margin-top: 80px;
        background-size: auto 100%;
        background-position-x: right;
    }

    .v-list {
        font-size: 1em;
    }

    .v-info a {
        padding: 10px 20px;
        margin-top: 20px;
    }

    .d-list {
        width: 23.5em;
        padding: 15px;
        height: 170px;
    }

    .list-tecs a {
        height: 70px;
    }

    #suporte .container {
        height: 100%;
        padding: 85px 15px;
    }

    .formulario{
      text-align: center !important;
    }

    .r-form {
        width: 500px;
        margin-top: 20px;
    }

    .r-suport {
        margin-left: 10px;
        height: 50px;
        width: 440px;
    }

    .r-suport p {
        font-size: 1em;
    }

    #rodape {
        height: 430px;
    }

    #rodape input {
        width: 480px;
    }

    #rodape textarea {
        height: 50px;
        width: 480px;
    }

    #rodape button {
        width: 500px;
        padding: 5px 15px;
        font-size: 15px;
        border-radius: 5px;
    }

    .r-rodape {
        width: 630px;
        margin-left: 40px;
        margin-top: 20px;
        max-height: 330px;
    }

    .r-box {
        width: 200px;
    }

    .menu-rodape {
        margin-top: 5px;
    }

    .menu-rodape ul li {
        margin-left: 12px;
    }

    .social-rodape {
        margin-top: 5px;
        display:flex;
    }

    .social-rodape p {
      margin-left:12px;
      margin-top: 14px;
    }

    .social-rodape ul{
      margin-left: 20px;
    }

    .social-rodape ul li {
        margin-left: 1em;
    }

    #scx-widget .scx-popup.scx-active._scx-open {
        margin-right: -7em !important;
        margin-top: 7em !important;
    }

    .footer1{
      width:38em !important;
    }

    .footer2{
      width:42em !important;
    }

    .footer-pad{
      display:none;
    }

}

@media only screen and (min-width: 1441px){

  #sac-logo {
      width: 140px !important;
      height: 140px !important;
  }

  .d-list {
    width: 24em !important;
    margin-left: 4em;
  }

  .app-item-info {
      margin-top: 10% !important;
      margin-right: 10% !important;
  }

  .tab-itens{
    text-align: center;
  }

  .tab-itens .tab{
    height: 75px;
  }

.tab-slider .tab-ctl-left, .tab-slider .tab-ctl-right{
  display: initial;
}

.tab-slider .tab-ctl-left{
    left: 280px;
}

.tab-slider .tab-ctl-right{
    right: 250px;
}

.marvel-device {
    left: 25%;
    margin-top: 1%;
    box-shadow: -12px 12px 60px;
    width: 277px !important;
    height: 493px !important;
}

.speech-wrapper .bubble {
    width: 315px !important;
  }

.speech-wrapper .bubble .txt .name{
  font-size: 18px !important;
}

.speech-wrapper .bubble .txt .message{
  font-size: 16px !important;
}

.speech-wrapper .bubble .txt .timestamp{
  font-size: 14px !important;
}

#whatsapp {
    margin-left: 4em !important;
    width: 22em !important;
  }

  .list-tecs{
    text-align:center;
  }

  #suporte .container {
    height: 100%;
    padding: 145px 15px;
  }

  .wpcf7{
    text-align: center;
  }

  .suporte-text{
    padding-left: 9em;;
  }

  .footer2{
    width: 50%;
  }

  .social-rodape{
    display: inline-flex;
  }

  .social-rodape{
    margin-left: 20px;
    margin-top: 10px;
  }

  .r-box {
      width: 180px !important;
  }

  .suporte-text .s-right{
    float: left !important;
  }

  .social-rodape p{
    margin-top: 10px;
  }

}
