/*
Theme Name: Writers
Author: writers
Description: Writers has modern and functional design created specially for Writers or professional bloggers. The theme interface is most conducive to showcase the talent of authors and copyWriters. We have made sure that your articles are packaged in an easy to read layout which is customizable and mobile friendly. Articles are designed to make reading pleasure on the eye. All unneccessary noise has been removed or hidden. Clean code and years of experience in the industry have built a solid, search engine friendly foundation for our multi-purpose theme.
Version: 15.0
Theme URI:
Author URI:
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: two-columns, right-sidebar, theme-options, custom-header, custom-colors, custom-menu, featured-images,  sticky-post, rtl-language-support,threaded-comments
Text Domain: writers
*/
body,
button,
h1,
h2,
h3,
h4,
h5,
h6,
input,
select,
textarea {
    font-family: lato, 'helvetica neue', helvetica, arial, verdana;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased
}

a:active,
a:hover,
input:focus,
input:hover,
textarea:focus,
textarea:hover {
    outline: 0
}

blockquote,
blockquote p {
    font-size: 18px
}

iframe,
table {
    width: 100%
}

.comment-list,
.comment-list .children,
.widget ul {
    list-style: none
}

body {
    background: #eee
}

tbody tr:nth-child(odd) {
    background: rgba(0, 0, 0, .1)
}

body,
button,
input,
select,
textarea {
    color: #424242;
    font-size: 16px;
    font-weight: 400
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    color: #212121;
    font-weight: 900;
    font-style: normal
}

blockquote,
cite,
dfn,
em,
i {
    font-style: italic
}

p {
    margin-bottom: 1.5em;
    line-height: 1.7em;
    font-size: 16px
}

a {
    color: #607D8B;
    text-decoration: none
}

a:visited {
    color: #78909c;
    text-decoration: none
}

a:hover {
    text-decoration: none
}

a img {
    border: 0
}

dd {
    margin: 0 1.5em 1.5em
}

blockquote {
    border-left: 5px solid #455A64;
    background: rgba(0, 0, 0, .05);
    margin-left: .5em
}

code {
    white-space: normal;
    color: #666
}

table {
    border-collapse: separate;
    border-spacing: 0
}

.site-branding {
    max-width: 1100px;
    margin: auto
}

.site-header,
.site-header .site-branding,
.sticky-post,
.wp-caption,
.wp-caption-text {
    text-align: center
}

thead {
    background-color: rgba(0, 0, 0, .15);
    color: #212121
}

table,
td,
th {
    border: 1px solid rgba(0, 0, 0, .15)
}

td,
th {
    padding: .7em;
    text-align: left
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    max-width: 100%;
    vertical-align: baseline
}

embed,
iframe,
object {
    max-width: 100%
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute!important;
    height: 1px;
    width: 1px;
    overflow: hidden
}

.screen-reader-text:active,
.screen-reader-text:focus,
.screen-reader-text:hover {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
    clip: auto!important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: .875rem;
    font-weight: 700;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000
}

button,
input,
textarea {
    font-family: inherit;
    padding: 5px
}

input,
textarea {
    color: #727272;
    border: 1px solid #aaa1a8
}

button,
button:hover,
html input[type=button],
html input[type=button]:hover,
input[type=reset],
input[type=reset]:hover,
input[type=submit],
input[type=submit]:hover {
    border: 1px solid #455A64;
    border-radius: 2px;
    color: #fff
}

button:active,
button:focus,
html input[type=button]:active,
html input[type=button]:focus,
input[type=reset]:active,
input[type=reset]:focus,
input[type=submit]:active,
input[type=submit]:focus {
    border: 1px solid #455A64;
    border-radius: 2px;
    background: -moz-linear-gradient(#607d8b, #455a64);
    background: -o-linear-gradient(#607d8b, #455a64);
    background: -webkit-linear-gradient(#607d8b, #455a64);
    background: linear-gradient(#607d8b, #455a64);
    color: #fff
}

input[type=email],
input[type=email]:focus,
input[type=text],
input[type=text]:focus,
textarea,
textarea:focus {
    color: #727272
}

input[type=search].search-field {
    border-radius: 2px 0 0 2px;
    width: -webkit-calc(100% - 42px);
    width: calc(100% - 42px)
}

.page .container article h2,
.page .container article h3,
.page .container article h4,
.page .container article h5,
.page .container article h6,
.single h1,
.single h2,
.single h3,
.single h4,
.single h5,
.single h6 {
    font-family: 'Merriweather', serif;
    color: #2f2f2f
}

.search-form {
    position: relative
}

.comment-author.vcard,
.comment-metadata,
footer.comment-meta {
    display: inline-block
}

.comment-author.vcard b.fn,
.comment-author.vcard img.avatar {
    float: left
}

.comment-author.vcard .says {
    float: left;
    margin-left: 6px
}

.comment-content {
    width: 100%;
    float: left;
    padding-left: 60px
}

.comment-author.vcard b.fn,
.comment-metadata time {
    margin-left: 10px
}

.comment-author.vcard img.avatar {
    margin-top: 0
}

.single-post .container article.comment-body {
    padding-left: 0;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-top: 0
}

.search-form label {
    width: 100%;
    margin-bottom: 0
}

.comment-content p:last-of-type {
    margin-bottom: 0
}

a.comment-reply-link {
    padding-left: 60px;
    font-size: 14px
}

ol.comment-list:first-of-type {
    padding-left: 0
}

ol.comment-list {
    padding-left: 15px
}

.navbar-default {
    background: #fff
}

.search-submit:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    left: 1px;
    line-height: 34px;
    position: relative;
    width: 40px
}

.navbar,
.wp-caption-text {
    font-size: 14px
}

.frontpage-site-description,
.frontpage-site-title,
.navbar {
    font-family: lato, 'helvetica neue', helvetica, arial, verdana;
    font-style: normal
}

.search-submit {
    border-radius: 0 2px 2px 0;
    bottom: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 42px
}

img {
    margin-bottom: 1em
}

.alignnone {
    margin: 5px 20px 20px 0
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px
}

a img.alignleft,
a img.alignnone {
    margin: 5px 20px 20px 0
}

a img.alignleft {
    float: left
}

.navbar-nav,
.tags-links {
    float: right
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px
}

.wp-caption {
    max-width: 96%;
    padding: 5px 3px 10px
}

.wp-caption.aligncenter,
.wp-caption.alignnone {
    margin: 5px auto 20px
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px
}

.wp-caption img {
    border: 0;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto
}

.wp-caption .wp-caption-text {
    margin: .8075em 0
}

.wp-caption p.wp-caption-text {
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    padding: 0 4px 5px
}

.article-grid-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between
}

.article-grid-container article {
    width: 100%;
    flex: 1 1 auto;
    display: inline-block;
    overflow: hidden;
    max-width: 30%;
    margin-top: 0;
    margin-bottom: 35px
}

.post-thumbnail-wrap .entry-date {
    position: absolute;
    z-index: 999;
    width: 100%;
    padding: 10px 20px;
    bottom: 0;
    color: #fff;
    font-weight: 900;
    left: 5px
}

.article-grid-container .entry-date {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 900
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
    max-width: 100%;
    height: auto
}

.comment-content img,
.entry-content img,
.widget img {
    max-width: 100%
}

.entry-content img,
img[class*=align],
img[class*=wp-image-] {
    max-width: 100%;
    height: auto
}

.entry-content img,
img.size-full {
    max-width: 100%;
    width: auto
}

.comment-content img.wp-smiley,
.entry-content img.wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0
}

img.wp-post-image {
    max-width: 100%;
    width: auto;
    height: auto
}

.image-attachment {
    margin-left: auto;
    margin-right: auto
}

.featured-image img {
    display: block;
    margin: 0 auto
}

.nav {
    display: block
}

.navbar-fixed-bottom,
.navbar-fixed-top {
    position: relative;
    width: 100%
}

.home .navbar-fixed-bottom,
.home .navbar-fixed-top {
    position: absolute;
    top: 0;
    z-index: 1030
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px
}

.home.admin-bar .navbar-fixed-top {
    top: 32px
}

.navbar {
    margin-bottom: 30px;
    font-weight: 600;
    text-transform: capitalize;
    border: none;
    transition: all 1s;
    -webkit-box-shadow: 0 2px 25px rgba(0, 0, 0, .08);
    box-shadow: 0 2px 25px rgba(0, 0, 0, .08)
}

.navbar-brand {
    font-size: 20px;
    height: 70px;
    padding: 15px;
    line-height: 40px;
    font-family: 'Merriweather', serif;
    font-style: italic
}

.navbar-nav>li>a {
    padding-top: 25px;
    padding-bottom: 25px
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: #fff;
    border-color: #fff
}

.home .lh-nav-bg-transform {
    background-color: rgba(255, 255, 255, 0)!important;
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent
}

.navbar.lh-nav-bg-transform {
    font-size: 16px
}

.navbar-default .navbar-brand {
    color: #333
}

.blog.home .navbar {
    margin-bottom: 0;
    border-bottom: 0 solid #e2e2e2
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color: #000
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-text {
    color: #333
}

.darkHeader {
    display: none
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: rgba(231, 231, 231, 0)
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #333;
    height: 3px;
    width: 31px;
    margin-top: 6px
}

.navbar-default .navbar-toggle:focus .icon-bar,
.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #333
}

.navbar-default .navbar-link {
    color: #333
}

.navbar-default .navbar-link:hover {
    color: #000
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
    color: #FFF;
    text-decoration: none;
    outline: 0
}

.site-header {
    background: #1b1b1b;
    position: relative;
    width: 100%;
    margin-bottom: 3em;
    overflow: hidden;
    background-size: cover;
    padding: 180px 0 180px
}

.frontpage-site-title {
    font-size: 50px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 0;
    color: #1c1c1c;
    max-width: 1170px;
    width: 100%;
    display: inline-block;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-style: italic;
    color: #fff
}

.frontpage-site-description {
    display: block;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 5px
}

.frontpage-site-description:after {
    height: 1px;
    width: 70px;
    background: #fff;
    margin: 15px auto 0 auto
}

.frontpage-site-button:hover {
    color: #fff;
    background-color: #1c1c1c
}

.frontpage-site-description a,
.frontpage-site-title a,
.home-link {
    text-decoration: none
}

.sticky-post {
    position: absolute;
    top: 0;
    padding: 5px 15px;
    margin: auto;
    left: 0;
    right: 0;
    width: 120px;
    border-radius: 0 0 5px 5px;
    z-index: 9
}

.comments-area,
.post-comments,
.single-post-content {
    background-color: #fff;
    clear: both;
    margin-bottom: 2em
}

.post-content {
    background-color: #fff;
    clear: both;
    margin: 0 0 35px 0;
    box-shadow: 0 2px 25px rgba(0, 0, 0, .08)
}

.single-post-content {
    padding: 0 4em
}

.comments-area {
    background: #fff
}

.post-comments .comments-area {
    background: #fff;
    padding: 1em 20px;
    overflow: hidden;
    box-shadow: none
}

.post-content hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: #e6e6e6;
    border-style: solid;
    width: 100%
}

.entry-content,
.entry-footer,
.entry-header,
.entry-meta,
.entry-summary,
.entry-title {
    width: 100%;
    word-wrap: break-word;
    overflow: hidden
}

.post-feed-wrapper a.comments-link {
    display: none
}

.entry-content,
.entry-summary {
    color: #424242
}

.entry-summary p {
    margin-bottom: 0;
    display: inline
}

.entry-header h2.entry-title {
    margin: 0 0 5px
}

.entry-header {
    padding-bottom: 8px;
    text-align: left
}

.archive-page-title,
.byline,
.entry-meta,
.entry-meta a {
    text-transform: capitalize
}

.entry-title {
    margin-bottom: 14px
}

.entry-header .entry-title a {
    color: #212121
}

.entry-meta,
.entry-meta a {
    color: #727272;
    clear: both
}

.entry-meta {
    font-weight: 300
}

.entry-meta a {
    line-height: 1.7
}

.entry-meta h5 {
    margin-top: 0;
    margin-bottom: 0
}

.entry-header .entry-meta::after {
    height: 4px;
    width: 125px;
    margin: 10px auto
}

.taxonomy-description {
    color: #455A64;
    text-align: center
}

.byline a {
    color: #727272
}

.group-blog .byline,
.single .byline {
    display: inline
}

.entry-footer {
    word-spacing: 3px
}

#category {
    margin-top: 1em;
    margin-bottom: 1em
}

.cat-links a,
.tags-links a {
    color: #727272;
    text-transform: capitalize;
    font-style: italic
}

.archive-page-header,
.search-page-header {
    margin-bottom: 1.5em
}

.archive-page-title,
.search-page-title {
    color: #525252;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-size: 27px
}

.archive-page-title:after,
.search-page-title:after {
    display: block;
    content: ' ';
    width: 100px;
    height: 2px;
    background: #525252;
    margin: 15px auto 10px auto
}

.entry-summary,
.image-attachment .entry-content {
    text-align: left
}

.post-content,
.widget {
    border-radius: 3px
}

.attachment img {
    margin-left: auto;
    margin-right: auto
}

h5.entry-date,
h5.entry-date a {
    color: #afafaf;
    font-weight: 400;
    font-size: 15px;
    margin: 3px 0 8px
}

.post-thumbnail-wrap {
    position: relative;
    min-height: 300px;
    overflow: hidden
}

.read-more {
    margin-bottom: 0
}

.btn-default {
    border: none;
    border-radius: 0;
    color: #212121
}

.btn-default:focus,
.btn-default:hover {
    color: #fff
}

.image-attachment .entry-meta a {
    color: #607D8B;
    text-decoration: underline
}

.page-links {
    clear: both;
    margin: 0 0 1.5em
}

.posts-navigation {
    width: 100%
}

.archive .format-staus .entry-content,
.blog .format-status .entry-content {
    background-color: #CFD8DC;
    padding-top: 2em;
    font-size: 16px
}

textarea#comment {
    width: 100%;
    border: 1px solid #e0e0e0;
    border-bottom: 2px solid #e0e0e0;
    height: 100px
}

.archive .format-staus .entry-footer,
.blog .format-status .entry-footer {
    background-color: #CFD8DC
}

.gallery {
    margin-bottom: 1.6em
}

.gallery-item {
    display: inline-block;
    padding: 1.79104477%;
    text-align: center;
    vertical-align: top;
    width: 100%
}

.gallery-columns-2 .gallery-item {
    max-width: 50%
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%
}

.gallery-columns-4 .gallery-item {
    max-width: 25%
}

.gallery-columns-5 .gallery-item {
    max-width: 20%
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%
}

.widget select,
.widget_text img {
    max-width: 100%
}

.gallery-icon img {
    margin: 0 auto
}

.gallery-caption {
    color: #707070;
    color: rgba(51, 51, 51, .7);
    display: block;
    font-size: 11px;
    font-size: 1.1rem;
    line-height: 1.5;
    padding: .5em 0
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
    display: none
}

.avatar {
    height: 50px;
    width: 50px;
    border-radius: 25px
}

.comment-respond label {
    display: block;
    font-weight: 400
}

.comment-metadata {
    font-size: .8em
}

.widget_recent_entries .post-date {
    display: block;
    width: 100%;
    font-size: 14px;
    color: #9a9a9a
}

.comment-content {
    margin-bottom: .3em
}

.comment-respond #submit {
    background-color: #455A64;
    color: #fff;
    border: none;
    border-radius: 4px
}

.comment-respond {
    padding-top: 5px
}

.comment-metadata time {
    color: #aaa;
    display: block
}

span.edit-link {
    display: none
}

.widget-title-lines:after,
.widget-title-lines:before {
    content: '';
    display: block;
    height: 2px;
    background: #dfdfdf;
    position: absolute;
    z-index: -1
}

.widget-title-lines:before {
    width: 100%;
    top: 8px
}

.widget-title-lines:after {
    width: 90%;
    top: 12px
}

.sidebar-headline-wrapper {
    position: relative
}

#secondary .widget .widget-title .rsswidget,
#secondary .widget a {
    color: #6b6b6b
}

.widget ul {
    padding: 0 1em
}

.widget ul ul {
    padding: 0 0 0 1em
}

.widget td,
.widget th {
    padding: .2em;
    text-align: left
}

#secondary .widget hr {
    border-color: #ddd
}

#secondary .widget table caption {
    color: #777;
    font-weight: 600;
    padding-bottom: 5px
}

#secondary h4.widget-title {
    margin-top: 30px;
    font-size: 18px;
    font-family: lato, 'helvetica neue', helvetica, arial, verdana
}

#secondary .widget:first-of-type h4.widget-title {
    margin-top: 0
}

#secondary .widget li a {
    margin: 5px;
    display: inline-block
}

#secondary .widget li.recentcomments {
    margin: 5px 0
}

#secondary .widget li {
    margin: 0;
    padding: 0
}

#secondary .widget li:first-of-type a {
    margin-top: 0
}

#secondary .widget .rsswidget {
    margin: 10px 0 5px 0
}

.secondary-inner {
    background: #fff;
    padding: 20px;
    -webkit-box-shadow: 0 2px 25px rgba(0, 0, 0, .08);
    box-shadow: 0 2px 25px rgba(0, 0, 0, .08);
    border-radius: 2px color: #727272;
    font-size: 15px;
    margin-bottom: 35px
}

#secondary .widget .children li:first-of-type a {
    margin-top: 5px
}

#secondary p,
#secondary b,
#secondary ul li,
#secondary p ol li,
#secondary p {
    font-size: 15px
}

#secondary .widget #recentcomments a,
#secondary .widget .rsswidget {
    color: #4dbf99
}

#secondary .widget .rsswidget img {
    margin-top: 12px
}

.widget input[type=search].search-field {
    width: -webkit-calc(100% - 35px);
    width: calc(100% - 35px)
}

.widget .search-submit:before {
    font-size: 16px;
    left: 1px;
    line-height: 35px;
    width: 34px
}

.widget button.search-submit {
    padding: 0;
    width: 35px
}

.site-info {
    text-align: center;
    margin: 0
}

.site-footer a {
    color: #fff
}

.page .container article,
.single-post .container article {
    padding: 20px 50px 40px 50px
}

.page .container article.comment-body {
    padding: 20px 0;
    width: 100%;
    margin: 0
}

.page .container .entry-header,
.single-post .container .entry-header {
    text-align: center
}

.page .container .avatar,
.single-post .container .avatar {
    margin-bottom: 0;
    margin-top: 20px
}

h2.comments-title {
    border-bottom: 1px dashed rgba(0, 0, 0, .23);
    padding-bottom: 20px;
    font-family: 'Merriweather', serif;
    font-style: italic
}

.comments-area .comment {
    width: 100%;
    border-top: 2px solid rgba(51, 51, 51, .12)
}

ol.comment-list {
    border-bottom: 2px solid rgba(51, 51, 51, .12)
}

.comments-area li.comment:first-of-type {
    border-top: 0 solid #fff
}

.custom-logo-link {
    margin: 0;
    padding: 10px 0;
    display: inline-block
}

.cat-links,
.tags-links {
    color: #a2a2a2
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0)
}

.btn,
.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.btn-default:visited {
    padding: 15px 46px;
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
    border-radius: 35px;
    font-weight: 700
}

.custom-logo-link img {
    margin: 0
}

#respond input#submit {
    color: #fff;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    padding: 10px 25px;
    border-radius: 3px
}

#respond,
.form-submit {
    text-align: center;
    display: inline-block;
    width: 100%
}

.comment-form-email,
.comment-form-url,
p.comment-form-author {
    width: 30%;
    float: left;
    text-align: center;
    color: #7b7b7b
}

.comments-area,
.post-comments {
    border: none;
    -webkit-box-shadow: 0 2px 25px rgba(0, 0, 0, .08);
    box-shadow: 0 2px 25px rgba(0, 0, 0, .08);
    border-radius: 2px;
    padding: 0 15px;
    overflow: hidden;
    width: 100%
}

.comment-form-author input,
.comment-form-email input,
.comment-form-url input {
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    padding: 5px 10px;
    text-align: center
}

.comment-form-author,
.comment-form-email {
    margin-right: 5%;
    margin-bottom: 0
}

.comment-form-url {
    margin-bottom: 0
}

input.search-field {
    border: 1px solid #ddd;
    border-bottom: 2px solid #ddd
}

#secondary .widget ul {
    margin: 0;
    padding: 0
}

.footer-widget-wrapper,
.site-footer {
    background-color: #212324
}

.footer-widget-wrapper .container {
    padding: 20px
}

.copy-right-section {
    border-top: 1px solid #3f4042;
    max-width: 1130px;
    margin: auto;
    padding: 30px 15px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-style: italic;
    color: #7f7f7f;
    font-size: 14px
}

#secondary .widget li ul.children li {
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
    margin-bottom: 0;
    margin-left: 0;
    padding: 0
}

#secondary .widget li ul.children {
    padding-right: 0;
    padding-top: 0
}

.site-footer {
    color: #fff;
    font-size: 16px
}

.footer-widgets a,
.footer-widgets li a {
    margin: 2px;
    display: inline-block
}

.footer-widgets a:first-of-type,
.footer-widgets li a:first-of-type {
    margin-top: 0
}

.footer-widgets,
.footer-widgets p {
    font-size: 14px;
    line-height: 150%;
    color: #dedede
}

.footer-widgets p:last-of-type {
    margin-bottom: 0
}

.footer-widgets {
    padding: 20px 0
}

.footer-widgets a,
.footer-widgets li a {
    color: rgba(255, 255, 255, .5)
}

.footer-widgets h3 {
    color: #fff;
    font-weight: 900;
    font-size: 19px;
    margin-top: 0;
    font-family: lato, 'helvetica neue', helvetica, arial, verdana
}

.footer-widgets ul {
    margin: 0;
    padding: 0
}

.footer-widgets #recentcomments li,
.footer-widgets ul li {
    margin: 0;
    padding: 0;
    list-style: none
}

.footer-widgets #wp-calendar,
.footer-widgets #wp-calendar caption,
.footer-widgets .calendar_wrap {
    background: #fff
}

.footer-widgets .calendar_wrap td,
.footer-widgets .calendar_wrap td a {
    color: #333
}

.commentlist .bypostauthor,
.commentlist li ul.children li.bypostauthor {
    background: #e7f8fb
}

#secondary td,
#secondary th {
    background: #fff
}

input[type=email],
input[type=email]:focus,
input[type=text],
input[type=text]:focus,
textarea,
textarea:focus {
    border: 1px solid #ddd;
    border-bottom: 2px solid #ddd;
    background: #fff;
    width: 100%
}

.top-widgets h3 {
    margin-top: 0;
    color: #fff
}

.bottom-widgets {
    font-size: 16px;
    text-align: center;
    background: #fff;
    margin: .5em 5px 35px;
    padding: 10px 20px;
    -webkit-box-shadow: 0 2px 25px rgba(0, 0, 0, .08);
    box-shadow: 0 2px 25px rgba(0, 0, 0, .08);
    border-radius: 2px
}

#secondary .widget:first-of-type {
    padding-top: 0
}

.bottom-widgets h3 {
    margin-top: 0
}

#secondary .widget .children {
    padding: 10px 0 0 10px
}

.footer-widgets .children {
    padding-left: 8px
}

.footer-widgets img {
    max-width: 100%
}

h5,
h6 {
    font-size: 16px
}

.children .comment-body {
    margin-top: 30px
}

.no-decoration,
.no-decoration:hover,
.no-decoration:active,
.no-decoration:focus {
    text-decoration: none
}

.post-feed-wrapper p {
    color: #949494;
    font-size: 15px
}

.blog-feed-contant {
    padding: 20px
}

.post-feed-wrapper .entry-header .entry-title a {
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-weight: 700;
    color: #4a4849;
    font-size: 20px
}

.featured-banner-no-thumbnail {
    min-height: 40px
}

.featured-banner {
    position: absolute;
    z-index: 99;
    top: 15px;
    left: 15px;
    background: #151515;
    padding: 8px 17px;
    font-size: 11px;
    color: #fff;
    opacity: 1.9;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px
}

.post-feed-wrapper .entry-header .entry-title a:hover,
.post-feed-wrapper .entry-header .entry-title a:focus,
.post-feed-wrapper .entry-header .entry-title a:active {
    text-decoration: none
}

.post-thumbnail {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    min-height: 100%;
    left: 0;
    right: 0;
    width: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 5px 0 0 5px
}

.post-password-form input[type=submit] {
    padding: 15px 46px;
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
    border-radius: 3px;
    font-weight: 700;
    border: 0;
    margin: 20px auto;
    text-align: center
}

.post-password-form label {
    width: 100%
}

.page .container article h1,
.single h1 {
    font-style: italic;
    text-align: left;
    font-family: 'Merriweather', serif
}

.page .container .entry-date,
.single-post .container .entry-date {
    margin-bottom: 20px;
    font-size: 16px;
    text-align: left;
    font-style: italic;
    color: #8c8c8c
}

section.no-results.not-found {
    margin-bottom: 49.9px
}

.post-thumbnail-missing {
    background-size: auto;
    background-repeat: no-repeat;
    background-color: #929292
}

.home nav.navbar.lh-nav-bg-transform.navbar-default.navbar-fixed-top.navbar-left {
    margin-bottom: 0
}

.comment-author.vcard {
    margin-bottom: -10px
}

.home-link {
    width: 100%;
    display: block
}

.navbar-default li>.dropdown-menu>li>a {
    white-space: normal
}

.next-post a,
.prev-post a {
    background: #fff;
    border-radius: 30px;
    padding: 15px 25px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, .08);
    font-weight: 600;
    color: #4dbf99;
    margin-bottom: 35px;
    width: 100%;
    max-width: 200px;
    text-align: center;
    text-decoration: none;
    position: relative
}

.prev-post a {
    float: right
}

.prev-post a i.fa {
    margin-left: 10px
}

.next-post a {
    float: left
}

.next-post a i.fa {
    margin-right: 10px
}

.comment-metadata {
    color: #aaa;
    display: block;
    margin-left: 50px;
    margin-top: -20px
}

.next-article a,
.prev-article a {
    background: #fff;
    border-radius: 3px;
    padding: 15px 25px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, .08);
    font-weight: 600;
    color: #4dbf99;
    margin-bottom: 35px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    position: relative
}

.next-article p,
.prev-article p {
    margin: 0;
    font-size: 14px;
    color: #6b6b6b
}

.prev-article a {
    float: right
}

.prev-article a i.fa {
    margin-left: 10px
}

.next-article a {
    float: left
}

.next-article a i.fa {
    margin-right: 10px
}

.comment-metadata {
    color: #aaa;
    display: block;
    margin-left: 50px;
    margin-top: -20px
}

.comments-area .comment,
.comments-area .comment .comment-body {
    padding-right: 0;
    display: inline-block
}

@media (max-width:1024px) {
    .tags-links {
        text-align: left
    }
    .cat-links,
    .tags-links {
        width: 100%
    }
    #navigation_menu {
        padding: 0;
        margin: 0;
        width: 100%
    }
    .container>.navbar-header {
        padding-left: 10px
    }
}

@media (max-width:991px) {
    .article-grid-container article {
        max-width: 48%
    }
    .site-branding {
        padding: 0 20px
    }
    .readmore-btn,
    .readmore-btn:active,
    .readmore-btn:focus,
    .readmore-btn:hover,
    .readmore-btn:visited {
        right: 0;
        left: 0;
        max-width: 45px;
        margin: auto
    }
}

@media (max-width:900px) {
    body {
        font-size: 16px
    }
    .frontpage-site-title,
    h1 {
        font-size: 30px
    }
    .frontpage-site-description {
        font-size: 16px
    }
    h2 {
        font-size: 20px
    }
    h3 {
        font-size: 18px
    }
    h4 {
        font-size: 16px
    }
    h5 {
        font-size: 14px
    }
    h6 {
        font-size: 12px
    }
    blockquote {
        margin-left: .3em
    }
    table {
        -ms-word-break: break-all;
        word-break: break-all
    }
    .entry-footer {
        padding-bottom: 1em
    }
    .single-post-content {
        padding: 0 1.5em
    }
    .comments-area,
    .post-comments {
        border: none;
        -webkit-box-shadow: 0 2px 25px rgba(0, 0, 0, .08);
        box-shadow: 0 2px 25px rgba(0, 0, 0, .08);
        border-radius: 2px;
        padding: 0;
        overflow: hidden;
        width: 100%
    }
    .comment-content table {
        overflow: hidden
    }
    .comment-list {
        padding: 10px
    }
    .comment-list ol {
        padding-left: 10px
    }
    iframe,
    input,
    textarea {
        width: 100%
    }
    #submit,
    .search-submit {
        width: auto
    }
    .navbar-default {
        background: #fff
    }
    td,
    th {
        padding: .2em;
        text-align: left;
        border: 1px solid #B6B6B6
    }
    .navbar.lh-nav-bg-transform {
        font-size: 14px
    }
    .footer-widgets button.search-submit {
        width: 42px
    }
}

@media (max-width:782px) {
    .home.admin-bar .navbar-fixed-top {
        top: 46px
    }
}

@media (max-width:767px) {
    .page .container article,
    .single-post .container article {
        padding: 20px 20px 40px 20px
    }
    .navbar-default .navbar-nav>.open>a,
    .navbar-default .navbar-nav>.open>a:hover,
    .navbar-default .navbar-nav>.open>a:focus {
        color: #000
    }
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
        color: #333
    }
    .home .lh-nav-bg-transform {
        position: static
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: rgba(0, 0, 0, .1)
    }
    .navbar-collapse {
        margin-right: 0px!important;
        border: 0
    }
    .dropdown ul.dropdown-menu {
        padding-left: 20px;
        padding-top: 0
    }
    .navbar-nav .open .dropdown-menu>li {
        padding: 0 0 0 35px
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #777;
        border-left: 3px solid #333;
        padding-left: 10px;
        font-weight: 600;
        padding-top: 7px;
        padding-bottom: 7px
    }
    .navbar-collapse {
        box-shadow: 0 2px 25px rgba(0, 0, 0, .08);
        -webkit-box-shadow: 0 2px 25px rgba(0, 0, 0, .08)
    }
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
        background: rgba(255, 81, 81, 0)
    }
    .container>.navbar-header {
        margin-right: 0;
        margin-left: 0
    }
    .navbar-header {
        box-shadow: 0 2px 25px rgba(0, 0, 0, .08);
        -webkit-box-shadow: 0 2px 25px rgba(0, 0, 0, .08)
    }
    .home .lh-nav-bg-transform .navbar-nav>li>a {
        text-shadow: 0 0 0 transparent
    }
    .navbar-nav .open .dropdown-menu {
        padding: 0
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #333
    }
    .lh-nav-bg-transform {
        box-shadow: 0 1px 1px rgba(100, 100, 0, 0)!important
    }
    .navbar-fixed-bottom .navbar-collapse,
    .navbar-fixed-top .navbar-collapse {
        max-height: 600px
    }
    .article-grid-container article {
        max-width: 100%
    }
    .comment-form-email,
    .comment-form-url,
    p.comment-form-author {
        width: 100%;
        float: left;
        margin: 0
    }
    .site-header {
        padding: 100px 0 120px
    }
    .navbar-nav>li>a {
        padding-left: 35px;
        padding-top: 10px;
        padding-bottom: 10px
    }
    .navbar-nav {
        float: none
    }
    .navbar-toggle,
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:active {
        border: 0;
        margin-top: 18px padding: 0;
        background: rgba(221, 221, 221, 0)
    }
    body {
        font-size: 16px
    }
    #navigation_menu {
        padding: 0;
        margin: 0;
        width: 100%
    }
    .site-header {
        position: relative;
        width: 100%;
        margin-bottom: 2em
    }
    .frontpage-site-title {
        font-size: 28px
    }
    .site-description,
    .site-footer {
        font-size: 14px
    }
    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:focus,
    .navbar-default .navbar-nav>.active>a:hover {
        border-top: none
    }
}

@media (min-width:768px) {
    ul.nav li.dropdown:hover>ul.dropdown-menu {
        display: block
    }
    .navbar-fixed-bottom,
    .navbar-fixed-top {
        border-radius: 0
    }
    .navbar-default li>.dropdown-menu {
        padding: 0;
        border: 0;
        left: auto;
        right: 10px;
        max-width: 200px
    }
    .navbar-default li>.dropdown-menu li:first-of-type {
        overflow: hidden;
        border-radius: 2px 2px 0 0
    }
    .navbar-default li>.dropdown-menu li:last-of-type {
        overflow: hidden;
        border-radius: 0 0 2px 2px
    }
    .home nav.navbar.lh-nav-bg-transform .dropdown-menu {
        border-radius: 3px
    }
    .home .lh-nav-bg-transform li>.dropdown-menu:after {
        bottom: 100%;
        left: 70%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(252, 252, 252, 0);
        border-bottom-color: #fcfcfc;
        border-width: 15px;
        margin-left: -15px
    }
    .home .lh-nav-bg-transform .navbar-nav>li>a,
    .home .lh-nav-bg-transform .navbar-nav>li>a:hover,
    .home .lh-nav-bg-transform .navbar-nav>li>a:active,
    .home .lh-nav-bg-transform .navbar-nav>li>a:focus,
    .home .lh-nav-bg-transform.navbar-default .navbar-brand,
    .home .lh-nav-bg-transform.navbar-default .navbar-brand:hover,
    .home .lh-nav-bg-transform.navbar-default .navbar-brand:active,
    .home .lh-nav-bg-transform.navbar-default .navbar-brand:focus {
        color: #fff
    }
    .navbar-default li>.dropdown-menu>li>a,
    .navbar-default li>.dropdown-menu>li>a:focus,
    .navbar-default li>.dropdown-menu>li>a:active,
    .navbar-default li>.dropdown-menu>li>a:hover {
        color: #545454;
        font-weight: 600;
        padding: 10px 20px
    }
    .dropdown-menu>.active>a,
    .dropdown-menu>.active>a:focus,
    .dropdown-menu>.active>a:hover {
        color: #fff!important
    }
    .navbar-default .navbar-nav>.open>a,
    .navbar-default .navbar-nav>.open>a:hover,
    .navbar-default .navbar-nav>.open>a:focus {
        color: #545454
    }
}

@media (max-width:359px) {
    .site-header {
        position: relative;
        width: 100%;
        min-height: 200px;
        margin-bottom: 1.5em
    }
    .frontpage-site-title {
        font-size: 2em;
        margin-top: 5px;
        margin-bottom: 3px
    }
    .site-description {
        font-size: 8px;
        margin-top: 1px;
        margin-bottom: 2px
    }
}

@media (max-width:500px) {
    .comment-author.vcard img.avatar {
        display: none
    }
    .comment-metadata {
        margin-left: 0!important;
        margin-top: 5px!important
    }
    .comment-author.vcard b.fn,
    .comment-metadata time {
        margin-left: 0
    }
    .comment-content,
    a.comment-reply-link {
        padding-left: 0
    }
    .next-post a,
    .prev-post a {
        max-width: 100%
    }
}

@media print {
    body {
        background: 0 0!important;
        color: #000;
        font-size: 10pt
    }
    .site {
        max-width: 98%
    }
    .site-header .home-link {
        max-width: none;
        min-height: 0
    }
    .frontpage-site-title {
        color: #000;
        font-size: 21pt
    }
    .site-description {
        font-size: 10pt
    }
    .author-avatar,
    .comment-respond,
    .comments-area .comment-edit-link,
    .comments-area .reply,
    .comments-link,
    .entry-meta .edit-link,
    .main-navigation,
    .more-link,
    .navbar,
    .page-links,
    .site-content nav,
    .site-footer,
    .widget-area {
        display: none
    }
    .entry-content,
    .entry-header,
    .entry-meta,
    .entry-summary {
        margin: 0;
        width: 100%
    }
    .entry-title,
    .page-title {
        font-size: 21pt
    }
    .entry-meta,
    .entry-meta a {
        color: #444;
        font-size: 10pt
    }
    .entry-content .wp-caption.alignleft,
    .entry-content img.alignleft {
        margin-left: 0
    }
    .entry-content .wp-caption.alignright,
    .entry-content img.alignright {
        margin-right: 0
    }
    .format-image .entry-content .size-full {
        margin: 0
    }
    .hentry {
        background-color: #fff
    }
    .comments-area>li.comment {
        background: 0 0;
        position: relative;
        width: auto
    }
    .comment-metadata {
        float: none
    }
    .comment-author .fn,
    .comment-reply-link,
    .comment-reply-login {
        color: #333
    }
}