.row{
  margin: 15px auto 0px auto !important;
}

#primary{
  padding: 0 !important;
}

.title h1{
  text-align: center;
  color: white !important;
  font-size: 3em;
}

h3{
  color:white;
  margin-top: 5px !important;
  font-size: 2em;
  margin-left: 7px;
}

.container {
  width: 90% !important;
  height: 82vh;
}

.mac img{
  width: 105% !important;
  padding-top: 6em !important;
  margin-left: 3em !important;
}

#tutorial{
  color: white;
  text-decoration: none;
  padding: 20px;
  background-color: #f2a038;
  border-radius: 15px;
}

.tutorial-row{
  text-align: center;
  margin-top: 4em !important;
}

.item{
  padding-top: 1em;
  padding-bottom: 1em;
}

.items{
  padding-top: 6em;
}

#mac{
  width: 100%;
  height: 100vh;
  background-color: #e6e6e6;
}

#mac img{
  margin-left: 20%;
  margin-top: 15%;
  width: 60em;
}

#features_title{
  text-align: center;
  padding-top: 4em;
}

#features_title hr{
  border: 1px #d6d6d6 solid;
  margin-left: 38%;
  margin-right: 38%;
}

#features_title h2{
  color: black;
}

#features_title h4{
  color: b6b6b6;
}

.feature_item{
  padding-top: 3em;
  padding-bottom: 3em;
}

.feature-black{
  background-color: black;
}

.feature-black .description{
    text-align: right;
}

.picture{
  height: 200px;
  width: 200px;
  background-color: grey;
  border-radius: 100px;
}

.description{
  margin-top: 1.5em;
}

#clients-title h2{
  text-align: center;
}

#clients-title hr{
  border: 1px #b6b6b6 solid;
  margin-left: 36%;
  margin-right: 36%;
}

.picture-client{
  height: 150px;
  width: 150px;
  background-color: grey;
  border-radius: 150px;
}

.clients{
  margin-top: 3em;
  margin-bottom: 3em;
}

.clients h4{
  text-align: center;
  margin-top: 2em;
}

footer{
  margin-top: -1em;
}
