#tablet{
  width: 1200px;
  margin-top: 150px;
}

.title h1{
  text-align:center;
  color: white;
  font-size: 3em;
}

#title h2{
  width: 70%;
  color: white;
  margin-top: 15%;
}

#modules-title{
  padding-top: 3em;
  padding-bottom: 3em;
}

#modules-title h2{
  text-align: center;
}

#modules-title hr{
  border: 1px #b6b6b6 solid;
  margin-left: 37%;
  margin-right: 37%;
}

#modules-title h4{
  text-align: center;
}

.modules-item{
  height: 15em;
  width: 70%;
}

.modules-item .row{
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.item-left{
  border-top-left-radius: 10em;
  border-bottom-left-radius: 10em;
  box-shadow: -12px 0px 20px -9px black;
  margin-left: 12%;
}

.item-left .module-picture{
  margin-left: 5px;
  margin-top: 11px;
}

.item-right .module-picture{
  margin-right: 5px;
  margin-top: 11px;
}

.item-right{
  border-top-right-radius: 10em;
  border-bottom-right-radius: 10em;
  box-shadow: 12px 0px 20px -9px black;
  margin-right: 13%;
}

.module-picture{
  height: 200px;
  width: 200px;
  background-color: grey;
  border-radius: 100px;
}

.modules-item h3 {
    font-size: large !important;
  }

  .modules-description{
    width: 90%;
    margin-top: 40px;
  }
